.boxBtn {
  width: 18px;
  height: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.box {
  width: 8px;
  height: 8px;
  background-color: #c4c4c4;
}

.strip {
  width: 18px;
  height: 8px;
  background-color: #c4c4c4;
}

.boxBtn:hover div {
  background-color: #fbfbfb;
  filter: brightness(90%);
  cursor: pointer;
}
