.horizontalBtn {
  width: 18px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.strip {
  width: 18px;
  height: 8px;
  background-color: #c4c4c4;
}

.horizontalBtn:hover div {
  background-color: #fbfbfb;
  filter: brightness(90%);
  cursor: pointer;
}
