.newsContainer {
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding: 30px;
  margin-bottom: 20px;
  position: relative;
}

.newsContainer:hover {
  background-color: color-mix(in srgb, var(--background), white 30%);
}

.newsContainer img {
  width: 200px;
  height: 100px;
}

.content {
  height: 40px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.newsContainer a {
  max-width: 459px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0029ff;
}

.newsContainer h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0029ff;
}

.footerCard {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 4px;
  left: 0;
  padding: 30px;
  color: #dcdcdc;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.footerCard a {
  color: #dcdcdc;
}

.cardNews {
  width: 100%;
}
