.pagination {
  max-width: 186px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 20.7px;
  cursor: pointer;
}

.linkPage {
  width: 20px;
  text-align: center;
  border-radius: 20px;
  color: black;
  text-decoration: none;
}

.lastPage {
  display: flex;
  width: 50px;
  justify-content: space-between;
}

.linkPage:hover {
  background-color: #fbfbfb;
  filter: brightness(90%);
}
