.filter {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.1px;
}

.filter a {
  text-decoration: none;
  color: #0029ff;
}

.filter:hover {
  background-color: #fbfbfb;
  filter: brightness(90%);
}
